<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the Iron Yelp</title>
</head>
<body>
	<h1>The Iron Yelp!!!!</h1>
	<h2>The Place to Find A Good Restaurant in Downtown Orlando</h2>
	<h3></h3>
	<h3></h3>
	<h2>Search for a restaurant based on:</h2>
	<ul>
		<li><a href="/cuisines">Cuisines</a></li>
		<li><a href="/price">Price</a></li>
		<li><a href="/rating">Rating</a></li>
		<li><%= Restaurant.all[0].name %></li>
		<li><%= Restaurant.all[0].name %></li>
		
	</ul>
</body>
</html>
